.logoWrapper {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  --webkit-box-pack: center;
}

.menuButtonWrapper {
  --webkit-box-direction: normal;
  --webkit-box-ordinal-group: 2;
  --webkit-box-orient: horizontal;
  --webkit-box-pack: end;
}

.menuLabelWrapper {
  flex: 0 0 auto;
  font-size: 16px;
  font-weight: 700;
  height: 20px;
  margin-left: 5px;
  overflow: hidden;
  --webkit-box-flex: 0;
}

.hamburger {
  align-items: center;
  cursor: pointer;
  display: flex;
  order: 1;
  position: relative;
  z-index: 2;
  --webkit-box-align: center;
  --webkit-box-ordinal-group: 2;
}

.menuIcon svg {
  height: calc(100vw * (64 / 2560));
  width: calc(100vw * (64 / 2560));
}

.open svg {
  display: inline-block;
  max-width: 100%;
}

.remove {
  position: absolute;
  z-index: 2;
  width: calc(100vw * (40 / 2560));
}

.remove svg {
  display: inline-block;
  max-width: 100%;
}

.appbarWrapper {
  left: 0;
}
.menuIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  --webkit-box-align: center;
  --webkit-box-pack: center;
}
._2 {
  border-radius: 100%;
  flex-direction: row;
  height: calc(100vw * (40 / 2560));
  width: calc(100vw * (40 / 2560));
  --webkit-box-orient: horizontal;
  --webkit-box-direction: normal;
}
.open {
  position: relative;
  z-index: 2;
  width: calc(100vw * (40 / 2560));
}
.close {
  width: calc(100vw * (24 / 2560));
}

@media (min-width: 480px) {
  .menuIcon {
    width: calc(100vw * (32 / 2560));
    height: calc(100vw * (32 / 2560));
  }

  ._2 {
    height: calc(100vw * (72 / 2560));
    width: calc(100vw * (72 / 2560));
  }

  .open {
    width: calc(100vw * (72 / 2560));
  }
}
