.sectionGrid {
    align-items: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: auto;
  } 
  
  .sectionTitle {
    margin-top: 0px;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .presentationCols {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .presentationWrapper {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 10px 15px 20px;
  }
  
  .wInlineBlock {
    display: inline-block;
    max-width: 100%;
  }
  
  .withArrow {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .presentationTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 1;
  }
  
  .presentationImage {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
  }

  @media (max-width: 991px) {
    .presentationImage {
      max-width: 24vw;
    }

    .sectionGrid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 767px) {
    .presentationCols {
      grid-template-columns: 1fr 1fr;
    }

    .presentationImage {
      max-width: 40vw;
    }
  }

  @media (max-width: 479px) {
    .presentationCols {
      grid-template-columns: 1fr;
    }
    .presentationImage {
      max-width: 84vw;
    }
  }
  