.overlay {
    width: 100vh;
    height: 100%;
    position: absolute;
}

.container {
    position: relative;
    left: 0%;
    right: auto;
    bottom: auto;
    display: flex;
    align-items: center;
}

.movingLine {
    background: black;
    border-left: 2px solid red;
    border-right: 2px solid red;
    height: 100%;
    max-height: 80%;
    position: absolute;
    width: 23vw;
    z-index: 20;
}

._1 {
    animation: slideRight_1 8s infinite alternate;
}

  @keyframes slideRight_1 {
    0% { left: 25%;}
    5% { left: 25%; }
    10% { left: 25%; }
    20% { left: 25%; }
    100% { left: 48%; width: 40vw; }
  }
