  /*  spinning cube */
.box {
    box-sizing: border-box;
    position: absolute;
    top: 140px;
    justify-self: center;
}
.scene {
  width: 30vw;
  height: 30vw;
  perspective: 60vw;
  margin-left: 80px;
}

.cube {
  width: 30vw;
  height: 30vw;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-15vw);
}

.cube.isSpinning {
  animation: spinCube 30s infinite ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-15vw) rotateX(  0deg) rotateY(  0deg); }
  100% { transform: translateZ(-15vw) rotateX(360deg) rotateY(360deg); }
}

.cube__face {
  position: absolute;
  width: 30vw;
  height: 30vw;
  max-width: 600px;
  max-height: 600px;
  border: 2px solid black;
  line-height: 30vw;
  font-size: 7vw;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face_front  { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}
.cube__face_right  { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}
.cube__face_back   { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}
.cube__face_left   { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}
.cube__face_top    { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}
.cube__face_bottom { 
    background-image: url("https://nftstorage.link/ipfs/bafybeifkre5xoieovqjokmp4phdyobl544wlpinomlf6hoh2u7mcwm2lba");
    background-size: contain;
    filter: hue-rotate(301deg) opacity(0.5) saturate(1.5);
}

.cube__face_front  { transform: rotateY(  0deg) translateZ(11vw); }
.cube__face_right  { transform: rotateY( 90deg) translateZ(11vw); }
.cube__face_back   { transform: rotateY(180deg) translateZ(11vw); }
.cube__face_left   { transform: rotateY(-90deg) translateZ(11vw); }
.cube__face_top    { transform: rotateX( 90deg) translateZ(11vw); }
.cube__face_bottom { transform: rotateX(-90deg) translateZ(11vw); }

.cube.isBackfaceHidden .cube__face {
  backface-visibility: hidden;
}
