/* shape */
.polygon {
  --path: 0 0, calc(100% - 4em) 0, 100% 40px, 100% 100%, 0 100%;
  background: red;
  clip-path: polygon(var(--path));
  --webkit-mask: paint(polygon);
  position: relative;
}

.polygon h1 {
  z-index: 1;
}

.polygon img {
  z-index: 5;
}

.cardBg {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 calc(100vw * (32 / 2560));
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descriptionBox {
  position: absolute;
  bottom: calc(100vw * (92 / 2560));
  left: 0;
  width: calc(100vw * (320 / 2560));
  height: calc(100vw * (128 / 2560));
  background: white;
  padding: calc(100vw * (8 / 2560)) calc(100vw * (16 / 2560));
}

.gapSm {
  grid-gap: calc(100vw * (32 / 2560));
}

.cardBgTitle {
  font-family: 'Sofachrome';
  font-size: calc(100vw * (128 / 2560));
}

._dots {
  -webkit-text-security: square;
}

._vert {
  transform: rotate(90deg);
}

._outline {
  color: red;
  mix-blend-mode: color;
  text-shadow: -1px 0 var(--royal-blue), 0 2px var(--royal-blue),
    2px 0 var(--royal-blue), 0 -1px var(--royal-blue);
}

._shadowDark {
  color: #ffffff7d;
  mix-blend-mode: color;
  text-shadow: none;
}

._shadowLight {
  color: darkcyan;
  mix-blend-mode: unset;
  text-shadow: none;
  font-size: calc(100vw * (40 / 2560));
  margin-top: calc(100vw * (24 / 2560));
}

/* Grid layout */
.wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 27vw 27vw 27vw;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 32px;
}

.box {
  background-color: #444;
  border-radius: 4px;
  overflow: clip;
}

._1 {
  grid-column: 1;
  grid-row: 1 / 3;
}
._2 {
  grid-column: 2;
  grid-row: 1;
}
._3 {
  grid-column: 3;
  grid-row: 1 / 3;
}
._4 {
  grid-column: 1;
  grid-row: 3;
}
._5 {
  grid-column: 2;
  grid-row: 2 / 4;
}
._6 {
  grid-column: 3;
  grid-row: 3;
}

@media (max-width: 480px) {
  .cardBgTitle {
    font-size: calc(100vw * (64 / 480));
  }
  .container {
    max-width: 100%;
  }

  .alternate {
    grid-gap: calc(100vw * (24 / 2560));
  }

  .floating {
    grid-gap: calc(100vw * (24 / 480));
  }

  .square {
    width: calc(100vw * (440 / 480));
    height: calc(100vw * (440 / 480));
  }

  .presentationCols {
    grid-template-columns: 1fr;
  }
  .presentationImage {
    max-width: 84vw;
  }
}
