.app {
  display: block;
  margin: 0;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  position: relative;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
