@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'sofachrome-book';
    src: url('../../public/static/fonts/sofachrome-book-italic.woff');
    src: url('../../public/static/fonts/sofachrome-book-italic.woff')
      format('woff');
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: 'yrsa-bold';
    src: local('yrsa-bold');
    font-weight: 900;
    font-style: normal;
  }

  :root {
    --font-sofachrome: 'sofachrome';
    --font-body: 'yrsa', serif;
    --font-doc: 'source-sans-pro', sans-serif;
    --parallax-offset: 30vh;
    --content-offset: 40vh;
    --transition-speed: 2s;
    --s-256: calc(100vw * (256 / 2560));
  }
  html,
  body,
  #__next {
    background-color: #dec9eb;
    font-family: var(--font-body);
    font-size: 1rem;
    overflow-x: hidden;
    color: #231f20;
  }

  a {
    text-decoration: none;
  }

  p.navlink {
    font-family: 'yrsa-bold';
    font-weight: 900;
  }

  * {
    box-sizing: border-box;
    overscroll-behavior-y: contain;
  }
}
