@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --soft-blue: #cdebeb;
        --royal-blue: #0115a8;
        --yellow: #fbe95e;
    }
    html,
    body,
    #__next {
        font-family: Fahkwang, sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
}