.feature {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 5rem;
  justify-content: center;
  align-items: start;
}

/* Scroll animation */
.scrollTx {
  overflow: hidden;
  position: absolute;
  width: 100%;
  /* transform: translateY(var(--parallax-offset)); */
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

.pg {
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._1 {
  transform: translate3d(0, 1rem, 0);
}
._2 {
  transform: translate3d(0, 8rem, 0);
}

._up {
  transform: translate3d(0, -1rem, 0);
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._down {
  transform: translate3d(0, 4rem, 0);
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}
