.feature {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 5rem;
  justify-content: center;
  align-items: start;
}

/* Scroll animation */
.scrollTx {
  overflow: hidden;
  position: absolute;
  width: 100%;
  /* transform: translateY(var(--parallax-offset)); */
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._inactive {
  transform: translate3d(0, 12vh, 0);
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._up {
  transform: translate3d(0, -5vh, 0);
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._down {
  transform: translate3d(0, 5vh, 0);
  transition: var(--transition-speed) all cubic-bezier(0.22, 0.44, 0, 1);
}

._content {
  transform: translate3d(0, 0vh, 0);
  transition: calc(var(--transition-speed) * 2) all
    cubic-bezier(0.22, 0.44, 0, 1);
}
