.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
}

.card:hover,
.card:focus,
.card:active {
  border-color: transparent;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  margin: 0;
}

.half {
  width: calc(100vw / 2);
}

.sm {
  width: calc(100vw * (640 / 2560));
  height: calc(100vw * (640 / 2560));
}

.md {
  width: calc(100vw * (920 / 2560));
  height: calc(100vw * (920 / 2560));
}

.lg {
  width: calc(100vw * ((2560 - 256) / 2560));
}

.screen {
  width: 100vw;
}

/* shape */
.polygon {
  --path: 0 0, calc(100% - 4em) 0, 100% 40px, 100% 100%, 0 100%;
  cursor: pointer;
  background: red;
  clip-path: polygon(var(--path));
  --webkit-mask: paint(polygon);
}

@media (max-width: 480px) {
  .sm {
    width: calc(100vw * (256 / 480));
    height: calc(100vw * (256 / 480));
  }
  .md {
    width: calc(100vw * (440 / 480));
    height: calc(100vw * (440 / 480));
  }
  .lg {
    width: 100%;
  }
}
