.container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  z-index: 99;
  width: calc(100vw * (256 / 2560));
  height: 100%;
}

.redBg {
  background: red;
}

.logoButton {
  position: sticky;
  bottom: 40%;
  font-family: 'Sofachrome';
  transform: rotate(270deg);
  white-space: nowrap;
}

.logoButton h1 {
  font-size: calc(100vw * (160 / 2560));
  color: white;
}

.logoButton h2 {
  font-size: calc(100vw * (72 / 2560));
  color: red;
}

.logoButton h4 {
  font-size: calc(100vw * (48 / 2560));
  color: var(--text-info);
}

.logoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 2560px) {
  .container {
    width: 256px;
  }

  .logoButton h1 {
    font-size: 160px;
  }

  .logoButton h2 {
    font-size: 72px;
  }

  .logoButton h4 {
    font-size: 48px;
  }
}

@media (max-width: 480) {
  .container {
    /* left: 0;
    right: 0;
    top: 0; */
    height: calc(100vw * (128 / 2560));
    width: 100%;
  }

  .logoButton h1 {
    font-size: calc(100vw * (72 / 2560));
  }

  .logoButton h2 {
    font-size: calc(100vw * (64 / 2560));
  }

  .logoButton h4 {
    font-size: calc(100vw * (32 / 2560));
  }
}
