.bannerBg {
  background: transparent;
}

.bannerWrapper {
  position: relative;
}

.bannerTitle {
  font-family: 'sofachrome-book';
  position: sticky;
  top: 0;
  white-space: nowrap;
}

.bannerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 99;
  height: calc(100vw * (128 / 2560));
  width: 100%;
}

._lg {
  font-size: calc(100vw * (72 / 2560));
  color: var(--base-body);
}

._md {
  color: var(--secondary);
  font-size: calc(100vw * (64 / 2560));
}

._sm {
  color: var(--text-info);
  font-size: calc(100vw * (32 / 2560));
}

@media (min-width: 480px) {
  .container {
    width: calc(100vw * (256 / 2560));
    height: 100%;
  }
  ._lg {
    font-size: calc(100vw * (128 / 2560));
  }

  ._md {
    font-size: calc(100vw * (72 / 2560));
  }

  ._sm {
    font-size: calc(100vw * (48 / 2560));
  }
}
