.container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 99;
  width: calc(100vw * (256 / 2560));
  height: 100%;
}

.redBg {
  background: red;
}

.bannerWrapper {
  position: relative;
}

.bannerTitle {
  font-family: 'Sofachrome';
  position: sticky;
  top: 0;
  transform: rotate(270deg) translateX(-50%);
  white-space: nowrap;
}

._lg {
  font-size: calc(100vw * (128 / 2560));
  color: white;
}

._md {
  font-size: calc(100vw * (72 / 2560));
  color: red;
}

._sm {
  font-size: calc(100vw * (48 / 2560));
  color: var(--text-info);
}

.bannerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
/* 
@media (min-width: 2560px) {
  .container {
    width: 256px;
  }

  ._lg {
    font-size: 160px;
  }

  ._md {
    font-size: 72px;
  }

  ._sm {
    font-size: 48px;
  }
} */

@media (max-width: 480) {
  .container {
    /* left: 0;
    right: 0;
    top: 0; */
    height: calc(100vw * (128 / 2560));
    width: 100%;
  }

  ._lg {
    font-size: calc(100vw * (72 / 2560));
  }

  ._md {
    font-size: calc(100vw * (64 / 2560));
  }

  ._sm {
    font-size: calc(100vw * (32 / 2560));
  }
}
