/* 3D Demensional cube background */

.dimensionBg {
  box-sizing: border-box;
  position: absolute;
  top: 3rem;
  justify-self: center;
}

.rect3dContainer {
  width: 400px;
  height: 200px;
  perspective: 500px;
}

.rect3d {
  width: 401px;
  height: 201px;
  position: relative;
  transform: translateZ(25px);
  transform-style: preserve-3d;
}

.dimension {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(224, 255, 255, 0.45) 0px,
      rgb(224, 255, 255, 0.45) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(224, 255, 255, 0.45) 0px,
      rgb(224, 255, 255, 0.45) 1px,
      transparent 1px,
      transparent 40px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.bottom {
  width: 400px;
  height: 800px;
}

.top {
  width: 400px;
  height: 400px;
}

.back {
  transform: rotateY(-180deg) translateZ(150px);
}
.bottom {
  transform: rotateX(-90deg) translateY(-248px) translateZ(-200px);
}
.left {
  transform: rotateY(-90deg) translateX(45px) translateZ(200px);
}
.right {
  transform: rotateY(90deg) translateX(-46px) translateZ(200px);
}
.top {
  transform: rotateX(90deg) translateY(42px) translateZ(200px);
}

@media (min-width: 1024px) {
  .dimensionBg {
    top: 5rem;
  }

  .rect3dContainer {
    width: 800px;
    height: 400px;
    perspective: 1000px;
  }

  .rect3d {
    width: 801px;
    height: 401px;
    /* transform: translateZ(445px); */
    transform: translateZ(167px);
  }

  .dimension {
    background-image: repeating-linear-gradient(
        0deg,
        rgb(224, 255, 255, 0.65) 0px,
        rgb(224, 255, 255, 0.65) 1px,
        transparent 1px,
        transparent 80px
      ),
      repeating-linear-gradient(
        90deg,
        rgb(224, 255, 255, 0.65) 0px,
        rgb(224, 255, 255, 0.65) 1px,
        transparent 1px,
        transparent 80px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }

  .bottom {
    width: 800px;
    height: 1600px;
  }

  .top {
    width: 800px;
    height: 800px;
  }
  .back {
    transform: rotateY(-180deg) translateZ(500px);
  }
  .bottom {
    transform: rotateX(-90deg) translateY(-300px) translateZ(-400px);
  }
  .left {
    transform: rotateY(-90deg) translateX(-100px) translateZ(400px);
  }
  .right {
    transform: rotateY(90deg) translateX(100px) translateZ(400px);
  }
  .top {
    transform: rotateX(90deg) translateY(-100px) translateZ(400px);
  }
}
